@import '../../variables.scss';

.header {
  display: flex;

  height: 72px;
  background: $colorBg2;

  @media (max-width: $resM) {
    height: 48px;
  }
}

.headerFixed {
  width: 100%;

  position: fixed;
  top: 0;

  height: 48px;

  animation: headerShow 0.5s ease forwards;

  .headerButtonLink,
  .headerButton {
    border-radius: 0;
  }
}

.headerHiding {
  animation: headerHide 0.1s ease;
}

.headerContainer {
  display: flex;
}

.headerColLeft,
.headerColCenter,
.headerColRight {
  flex: 0 0 calc(100% / 3);

  display: flex;
  align-items: center;
  gap: 16px;

  position: relative;
}

.headerColLeft {
}

.headerColCenter {
  justify-content: center;
}

.headerColRight {
  justify-content: flex-end;
}

.headerButtonLink,
.headerButton,
.headerButtonText {
  background: transparent;
  border: none;

  color: $colorPrimary1;

  cursor: pointer;

  transition: 0.1s;
}

.headerButtonLink,
.headerButton {
  height: 48px;

  padding: 0;
  margin: 0;

  background: transparentize($colorPrimary1, 0.9);

  border-radius: 8px;

  &:hover,
  &.active {
    background: transparentize($colorPrimary2, 0.9);

    color: $colorPrimary2;
  }
}

.headerButtonText {
  font-size: 16px;

  padding: 8px 0;

  &:hover {
    color: $colorPrimary2;
  }
}

.headerButtonLink {
  padding: 0 16px;

  font-size: 24px;
}

.headerButton {
  width: 48px;

  &.active {
    pointer-events: none;
  }
}

.headerButtonIcon {
  width: 40px;
  height: 40px;

  color: inherit;
}

.headerDropdownWrapper {
  position: relative;

  height: 100%;

  display: flex;
  align-items: center;
}

.headerDropdown {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.headerDropdownList {
  width: 120px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  margin: 0;
  padding: 16px 0;

  border-radius: 0 0 8px 8px;

  background: transparentize($colorBg2, 0.5);

  list-style: none;
}

.headerDropdownItem {
  display: flex;
  flex-direction: column;

  color: $colorPrimary1;

  position: relative;

  &:not(:last-child)::after {
    content: '';

    width: 75%;
    height: 1px;

    margin: 8px auto;

    background: transparentize($colorWhite, .9);
  }
}

@keyframes headerShow {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: none;
  }
}

@keyframes headerHide {
  100% {
    transform: translateY(-100%);
  }
}
