.docsWrapper {
  position: absolute;
  right: 190px;
  width: 500px;
  height: 800px;
  padding: 10px;
  color: #06102f;
  background-color: white;
  border: 1px solid white;
}

.docsContent {
  display: flex;
}

.docsWrapperClose {
  display: none;
}

.field-name {
  color: #fff;
}

.field-type {
  cursor: pointer;
  color: rgb(78, 169, 252);
}

.field-type:hover {
  transition: 0.5s;
  color: rgb(30, 170, 20);
}

.title {
  color: #9293a0;
}
