@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

#root {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  color: transparentize($colorWhite, 0.5);

  box-sizing: border-box;
  padding: 72px 0 0;
  margin: 0;

  background-color: $colorBg1;

  @media (max-width: $resM) {
    padding: 48px 0 0;

    font-size: 14px;
  }

  @media (max-width: $resS) {
    padding: 40px 0 0;
  }
}

button {
  font: inherit;

  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

main {
  padding: 64px 0 128px;

  @media (max-width: $resM) {
    padding: 32px 0 64px;
  }
}

.container {
  width: 100%;
  max-width: 1400px;

  padding: 0 64px;
  box-sizing: border-box;

  margin: 0 auto;

  @media (max-width: $resXL) {
    padding: 0 40px;
  }

  @media (max-width: $resL) {
    padding: 0 32px;
  }

  @media (max-width: $resM) {
    padding: 0 24px;
  }

  @media (max-width: $resS) {
    padding: 0 16px;
  }

  &--small {
    max-width: 1100px;
  }
}

.title-1,
.title-2 {
  text-align: center;
}

.title-1,
.title-2,
.title-3 {
  line-height: 130%;
  font-weight: 400;
  color: $colorWhite;

  margin: 0;
  padding: 0;
}

.title-1 {
  font-size: 40px;

  margin-bottom: 64px;

  @media (max-width: $resM) {
    font-size: 32px;

    margin-bottom: 48px;
  }
}

.title-2 {
  font-size: 32px;

  margin-bottom: 32px;

  @media (max-width: $resM) {
    font-size: 24px;

    margin-bottom: 24px;
  }
}

.title-3 {
  font-size: 24px;

  @media (max-width: $resM) {
    font-size: 18px;
  }
}

.text-common {
  display: flex;
  flex-direction: column;
  gap: 16px;

  * {
    margin: 0;
    padding: 0;
  }

  a {
    color: $colorPrimary1;
    text-decoration: none;

    transition: 0.1s;

    &:hover {
      color: $colorPrimary2;
    }
  }

  b,
  strong {
    color: $colorWhite;
    font-weight: 300;
  }
}
