$resBase: 1920px;
$resXL: 1440px;
$resL: 992px;
$resM: 768px;
$resS: 540px;
$resXS: 320px;

$colorBlack: #000;
$colorWhite: #fff;

$colorBg1: #171920;
$colorBg2: #272936;

$colorPrimary1: cyan;
$colorPrimary2: orange;
$colorPrimary3: #ff39c0;

$colorError: #ff5d5d;
